
<app-titulo></app-titulo>

<div class="artigos">

  <div class="big-card">
    <app-big-card
    id="1"
    foto="assets/img-big-card.png"
    titulo="Nosso Planeta, Nossas Escolhas"
    sub_titulo="Práticas Sustentáveis"
    noticia="Nesta seção, mergulharemos em práticas sustentáveis que todos nós podemos incorporar ao nosso estilo de vida."
    ></app-big-card>
  </div>

  <div class="small-card">
    <app-smal-card
    id="2"
    foto="assets\garimpo.webp"
    titulo="Garimpo na TI Yanomami desacelera, mas inação de militares permite retomada, diz relatório."
    ></app-smal-card>

    <app-smal-card
    id="3"
    foto="assets\energia-sustentavel.webp"
    titulo="Energia sustentável: o que é e principais fontes
    "
    ></app-smal-card>

    <app-smal-card
    id="4"
    foto="assets\hidreletrica.jpg"
    titulo="Centrais hidrelétricas brasileiras estão no radar da transição energética global"
    ></app-smal-card>

  </div>



</div>



