




<div class="artigos">

  <div class="big-card">
    <app-big-card
    foto="assets\img-big-card.png"
    titulo="Nosso Planeta, Nossas Escolhas"
    descricao="Nesta seção, mergulharemos em práticas sustentáveis que todos nós podemos incorporar ao nosso estilo de vida. Desde dicas práticas para reduzir o desperdício até formas inovadoras de economizar energia, vamos descobrir juntos como fazer escolhas conscientes no dia a dia."

    ></app-big-card>
  </div>

  <div class="small-card">
    <app-smal-card
    foto="assets/garimpo.png"
    descricao="Garimpo na TI Yanomami desacelera, mas inação de militares permite retomada, diz relatório"
    ></app-smal-card>

    <app-smal-card
    foto="assets/desmatamento.png"
    descricao="Retorno da fiscalização ajuda a entender redução do desmatamento na Amazônia"
    ></app-smal-card>

    <app-smal-card
    foto="assets/floresta.png"
    descricao="Mais 500 hectares perdidos na Mata Atlântica e no Pampa gaúchos"
    ></app-smal-card>

  </div>



</div>



