<div class="conteiner-big-card">


  <img src="assets\img-big-card.png" alt="energ-eolica" height="407px">

  <h1>Nosso Planeta, Nossas Escolhas</h1>

  <h2><a href="https://pt.wikipedia.org/wiki/Sustentabilidade">Práticas Sustentáveis</a></h2>

  <p>Nesta seção, mergulharemos em práticas sustentáveis que todos nós podemos incorporar ao nosso estilo de vida. Desde dicas práticas para reduzir o desperdício até formas inovadoras de economizar energia, vamos descobrir juntos como fazer escolhas conscientes no dia a dia.</p>




</div>
