/* You can add global styles to this file, and also import other style files */
*{
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sem serifa ;
  background-color: #164d8b;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:white;
}
a{
  text-decoration: none;
}
hr{
color:#777777
}
